Data Loading and preprocessing steps

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df=pd.read_csv("C:/Users/vigne/Desktop/Hate speech detection/Data/Twitterdatainsheets.csv")

C:\Users\vigne\AppData\Local\Temp\ipykernel_34280\664561044.py:1: DtypeWarning: Columns (3,4,5,6,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/vigne/Desktop/Hate speech detection/Data/Twitterdatainsheets.csv")

In [4]:
df.describe()

,index,Reach,RetweetCount,Likes,Klout,Sentiment,LocationID
count,206295.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,103147.000000,8.542396e+03,8.052750,0.152770,40.389260,0.380921,2836.163440
std,59552.381229,8.867027e+04,97.863474,2.583633,13.636513,1.046559,1323.140242
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,-6.000000,1.000000
25%,51573.500000,1.510000e+02,0.000000,0.000000,32.000000,0.000000,1601.000000
50%,103147.000000,4.485000e+02,0.000000,0.000000,43.000000,0.000000,3738.000000
75%,154720.500000,1.496000e+03,3.000000,0.000000,49.000000,0.666667,3775.000000
max,206294.000000,1.034245e+07,26127.000000,133.000000,99.000000,7.333333,6289.000000

In [5]:
df.head()

,index,TweetID,Weekday,Hour,Day,Lang,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,text,LocationID,UserID
0,0,tw-682712873332805633,Thursday,17,31,en,False,44.0,0.0,0.0,35.0,0.0,We are hiring: Senior Software Engineer - Prot...,3751.0,tw-40932430
1,1,tw-682713045357998080,Thursday,17,31,en,True,1810.0,5.0,0.0,53.0,2.0,RT @CodeMineStatus: This is true Amazon Web Se...,3989.0,tw-3179389829
2,2,tw-682713219375476736,Thursday,17,31,en,False,282.0,0.0,0.0,47.0,0.0,Devops Engineer Aws Ansible Cassandra Mysql Ub...,3741.0,tw-4624808414
3,3,tw-682713436967579648,Thursday,17,31,en,False,2087.0,4.0,0.0,53.0,0.0,Happy New Year to all those AWS instances of o...,3753.0,tw-356447127
4,4,tw-682714048199311366,Thursday,17,31,en,False,953.0,0.0,0.0,47.0,0.0,Amazon is hiring! #Sr. #International Tax Mana...,3751.0,tw-3172686669

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206295 entries, 0 to 206294
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          206295 non-null  int64
 1   TweetID        206291 non-null  object
 2    Weekday       206292 non-null  object
 3    Hour          106175 non-null  object
 4    Day           106181 non-null  object
 5    Lang          106133 non-null  object
 6    IsReshare     100000 non-null  object
 7    Reach         100000 non-null  float64
 8    RetweetCount  100000 non-null  float64
 9    Likes         100000 non-null  float64
 10   Klout         100000 non-null  float64
 11   Sentiment     100000 non-null  float64
 12   text          100000 non-null  object
 13   LocationID    100000 non-null  float64
 14   UserID        100000 non-null  object
dtypes: float64(6), int64(1), object(8)
memory usage: 23.6+ MB

In [7]:
df.dropna(inplace=True)

In [8]:
df.isna().sum()

index            0
TweetID          0
 Weekday         0
 Hour            0
 Day             0
 Lang            0
 IsReshare       0
 Reach           0
 RetweetCount    0
 Likes           0
 Klout           0
 Sentiment       0
 text            0
 LocationID      0
 UserID          0
dtype: int64

In [9]:
df[' Sentiment'].describe()

count    100000.000000
mean          0.380921
std           1.046559
min          -6.000000
25%           0.000000
50%           0.000000
75%           0.666667
max           7.333333
Name:  Sentiment, dtype: float64

In [10]:
# Basic cleaning
def clean_text(text):
    text = re.sub(r"http\S+|www\S+|https\S+", '', str(text), flags=re.MULTILINE)
    text = re.sub(r'\@|\#', '', text)
    text = re.sub(r'[^A-Za-z0-9\s]', '', text)
    return text.lower()

df['clean_text'] = df[' text'].apply(clean_text)

In [11]:
# Convert the ' Sentiment' column to numeric, coercing errors to NaN
df[' Sentiment_numeric'] = pd.to_numeric(df[' Sentiment'], errors='coerce')

# Drop rows where the conversion failed
df.dropna(subset=[' Sentiment_numeric'], inplace=True)

# Count rows with specific sentiment categories
count_zero = df[df[' Sentiment_numeric'] == 0].shape[0]
count_negative = df[df[' Sentiment_numeric'] < 0].shape[0]
count_positive = df[df[' Sentiment_numeric'] > 0].shape[0]

# Print the results
print(f"Number of rows with 'Sentiment' value exactly 0: {count_zero}")
print(f"Number of rows with 'Sentiment' value less than 0: {count_negative}")
print(f"Number of rows with 'Sentiment' value more than 0: {count_positive}")

Number of rows with 'Sentiment' value exactly 0: 67424
Number of rows with 'Sentiment' value less than 0: 5552
Number of rows with 'Sentiment' value more than 0: 27024

In [12]:
# Convert the ' Sentiment' column to numeric, coercing errors to NaN
df[' Sentiment_numeric'] = pd.to_numeric(df[' Sentiment'], errors='coerce')

# Drop rows where the conversion failed
df.dropna(subset=[' Sentiment_numeric'], inplace=True)

# Assign labels based on sentiment value
def classify_sentiment(value):
    if value == 0:
        return 'Neutral'
    elif value < 0:
        return 'Hate'
    else:
        return 'Non-Hate'

df['label'] = df[' Sentiment_numeric'].apply(classify_sentiment)

# print value counts for each class
print(df['label'].value_counts())

label
Neutral     67424
Non-Hate    27024
Hate         5552
Name: count, dtype: int64

In [13]:
df['label'].value_counts()

label
Neutral     67424
Non-Hate    27024
Hate         5552
Name: count, dtype: int64

In [16]:
!pip install matplotlib seaborn

'pip' is not recognized as an internal or external command,
operable program or batch file.

In [17]:
# Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [14]:
# Tweet Length Distribution
df['text_length'] = df['clean_text'].apply(len)
plt.figure(figsize=(10, 6))
sns.histplot(df['text_length'], bins=50, kde=True)
plt.title('Distribution of Tweet Length')
plt.xlabel('Text Length')
plt.ylabel('Frequency')
plt.show()

NameError: name 'plt' is not defined